.res-fake{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    justify-content: center;
    background-color: #cb0a03;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Dubai", serif;
    font-size: 20px;
    margin-bottom: 0.5rem;
}